.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.popup-content {
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 90%;
    max-width: 500px;
    animation: slideDown 0.5s ease;
}

.close-btn {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}
.close-btn:hover {
    color: #ff0000;
}

.icon-container {
    text-align: center;
    margin-bottom: 1em;
}

.signup-icon {
    font-size: 2em;
    color: var(--primary-color);
    background-color: rgb(204, 201, 201);
    padding: 10px;
    border-radius: 250%;
}
.toggle-password {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: var(--primary-color);
    bottom: 210px;
    &:hover {
        color: var(--text-color);
    }
}
.toggle-password1 {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: var(--primary-color);
    bottom: 112px;
    &:hover {
        color: var(--text-color);
    }
}


form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0.5em;
}

.form-group input {
    font-size: 1em;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.btn {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    margin-left: 10px;
    background-color: red;
} 

